[submodule "tsne-cuda"]
	path = tsne-cuda
	url = https://github.com/CannyLab/tsne-cuda.git
[submodule "faiss"]
	path = faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "src/external/-f"]
	path = src/external/-f
	url = https://github.com/dczifra/tsne-cuda.git
